.account_box{
    /* margin: 20px; */
    color: white;
    padding: 10px;
    background-color: #726296;
    -webkit-box-shadow:0px 0px 50px 30px #493b85 inset;
    -moz-box-shadow:0px 0px 50px 30px #493b85 inset;
    box-shadow:0px 0px 50px 30px #493b85 inset;
    border-radius: 10px;
    justify-content: center;
}

.accounts_component{
    margin-top: 20px;
}
.account{
    display: inline-block;
    font-size: 1.2em;
    margin-bottom: 20px;
}
.account_box table td, .account_box table th{
    padding: 0 10px 0 10px;
    font-size: 12px;
}
.account_box table{
    border-bottom: 1px solid lightgray;
}