html { 
    height:100%;
    width: 100%;
    scroll-behavior: smooth;
}
body{
    margin: auto;
    min-height:100%;
    text-align: center;
    font-size: 14px;
    background-color: white;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 26%, rgba(34,10,91,0.4500175070028011) 47%, rgba(255,255,255,0) 69%);
}

h1, p, h4{
 text-align: center;
 color: white;
}
p{
    margin: 30px;
}
.loader{
    margin-top: 100px;
}
.loader p {
    color: black;
}
.flex{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.flex-item{
    margin: 0 10px 0 10px;
}
.logo{
    max-width: 20%;
    margin-right: 100px;
    flex-grow: 1;
}
a{
    display: inline-block;
    margin: 10px 0 50px 4px;
    background-color:#231f44;
    padding: 20px;
    width: 100%;
    cursor: pointer;
    color: white;
    color: white;
    text-decoration: none;
    border-radius: 10px;
} 
a:hover{
    color: black;
    text-decoration: none;
    background-color: #e4e2eb;
}
.documentation .diargam, .documentation p{
    max-width: 100%;
    margin: 25px 0 25px 0;
    color: black;
    padding: 20px;
    background: white;
    -webkit-box-shadow:0px 0px 50px 30px #493b85 ;
    -moz-box-shadow:0px 0px 50px 30px #493b85 ;
    box-shadow:0px 0px 50px 30px #493b85 ;
    border-radius: 10px;
} 

@media only screen and (max-width: 1000px) {
    .logo{
        max-width: 30%;
        margin-right: 10px;
    }
    .flex{
        flex-direction: column;
        margin: 0;
    }
}
