.accounts_box{
    margin-top: 20px;
    color: black;
    padding: 10px;
    background: white;
    -webkit-box-shadow:0px 0px 50px 30px #493b85 ;
    -moz-box-shadow:0px 0px 50px 30px #493b85 ;
    box-shadow:0px 0px 50px 30px #493b85 ;
    border-radius: 10px;
}
h4{
    float: left;
}
.accounts_component{
    margin-top: 20px;
}
.accounts_box .flex{
    margin: 10px 0 10px 0;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}
.accounts_box .flex:hover{
    background-color: #726296;
    color: white;
}
.accounts_box .flex:active, .accounts_box .active{
    background-color: #e4e2eb;
    color: black;
}
.account_balances{
    text-align: left;
    font-size: 14px;
    width: 200px;
}
.account_balances table th, .account_balances table td{
    margin: 0 5px 0 5px;
    padding: 0 10px 0 10px;
}
.account_balances div{
    margin: 0 10px 0 10px;
}
.account_number{
    text-align: left;
    max-width: 150px;
}
.error p{
    color: red;
}